# Порты приложений
BACKEND_PORT=1111
FRONTEND_PORT=2222
ADMINER_PORT=3333

# Database Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_production
PGDATA=/var/lib/postgresql/data/pgdata
