JWT_SECRET=very_secret_key
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=http://localhost:3001/oauth/yandex/callback

DB_HOST=db_host
DB_PORT=5432
DB_USERNAME=db_user
DB_PASSWORD=db_password
DB_DATABASE=db_name
